body {
    
    background-color: rgb(190, 238, 152);
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family:"Playwrite US Trad", cursive;
    display: flex;
    font-size: 30px;
}